<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8"/>
    <title>Basic Tabs - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/resources/easyui_js/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/easyui_js/themes/icon.css}" />
    <script type="text/javascript" th:src="@{/resources/easyui_js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/easyui_js/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/var.js}"></script>
    <script>
        var db_id = 0;
        function getDB(pageNumber,pageSize)
        {
            var actionUrl = '/businessdb/dbpart/'+db_id+'/'+pageNumber+'/'+pageSize;
            $('#partTree').treegrid({
                url:actionUrl,
                loadFilter: function (data){
                    var len = data.length;
                    data.rows = data;
                    $.each(data.rows, function(i,item) {
                        item._parentId = -1;

                    });
//                    data.total = data.more;
                    data.total = len;
                    return data;
                },
                idField:'id',
                treeField:'name',
                columns:[[
                    {field:'check',title:'Task Name',width:180,
                        formatter:function(val,row){
                            return '<input type="checkbox" onclick="show('+row.id+')" />';
                        }
                    },
                    {field:'id',title:'Task Name',width:180},
                    {field:'nameCn',title:'nameCn',width:60,align:'right'},
                    {field:'nameEn',title:'nameCn',width:80},
                    {field:'end',title:'End Date',width:80}
                ]]
            });
        }

        function page()
        {
            $('#pageDiv').pagination({
                onSelectPage:function(pageNumber, pageSize){
                    $(this).pagination('loading');
                    getDB(pageNumber, pageSize);
                    $(this).pagination('loaded');
                }
            });

//            $('#partTree').treegrid({
//                onClickRow:function(row){
//                }
//            });
        }
        $(document).ready(function(){
            var url='/businessdb/partcount/'+$('#db_id').val();    //相同域名用这个方法
//            var url="/businessdb/count?callback=?";     // 这个方法适用于不同域名的回调函数
                $.getJSON(url,function(data){
                    $('#pageDiv').pagination({
                        total:data,
                        pageSize:10
                    });
                });

            page();
        });
        //        getDB();
    </script>
</head>
<body>
<h2>Basic Tabs</h2>
<p>Click tab strip to swap tab panel content.</p>
<div style="margin:20px 0 10px 0;"></div>
    <div title="增加业务零件" style="padding:10px">
        <input type="hidden" id="db_id" th:value="${sys_db.getId()}"  />
        <form th:object="${sysBusinessPart}" th:method="post"
        th:action="@{/businessdb/addpart/}" class="form-horizontal" id="add-part-form">
        <div class="control-group" th:classappend="${#fields.hasErrors('nameCn')} ? error">
            <label class="control-label">中文姓名</label>
            <div class="controls">
                <input type="text" th:field="*{nameCn}" />
                <span class="help-inline" th:errors="*{nameCn}">[error]</span>
            </div>
        </div>

        <div class="control-group" th:classappend="${#fields.hasErrors('nameEn')} ? error">
            <label class="control-label">nameEn</label>
            <div class="controls">
                <input type="text" th:field="*{nameEn}" />
                <span class="help-inline" th:errors="*{nameEn}">[error]</span>
            </div>
        </div>

        <div class="form-actions">
            <button  type="submit">增加</button>
            <!--<button th:unless="${owner['new']}" type="submit">Update Owner</button>-->
        </div>
        </form>
        <!--<p class="answer" th:text="${sysBusinessDb.getNameCn()}"></p>-->
        <table id="partTree" th:title="${sys_db.getNameCn()}"  class="easyui-treegrid" style="width:600px;height:550px">
            <thead >
            <tr>
                <th data-options="field:'nameCn',width:180,editor:'text'">Region</th>
                <th data-options="field:'nameEn',width:180,editor:'text'">Region</th>
            </tr>
            </thead>
        </table>
        <div id="pageDiv" class="easyui-pagination" style="background:#efefef;border:1px solid #ccc;width:600px;"></div>
    </div>


</body>
</html>
<script>
    db_id = $('#db_id').val();
    $('#add-part-form').attr('action','/businessdb/addpart/'+db_id);
    getDB(1,10);
</script>