<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8"/>
    <title>Basic Tabs - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/resources/easyui_js/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/easyui_js/themes/icon.css}" />
    <script type="text/javascript" th:src="@{/resources/easyui_js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/easyui_js/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/var.js}"></script>

</head>
<body>
<h2>Basic Tabs</h2>
<p>Click tab strip to swap tab panel content.</p>
<div style="margin:20px 0 10px 0;"></div>
<div class="easyui-tabs" style="width:700px;height:250px">
    <div title="增加业务库" style="padding:10px">

    </div>
    <div title="My Documents" style="padding:10px">

    </div>
    <div title="Help" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
        This is the help content.
    </div>
</div>

</body>
</html>
